.App {
  text-align: center;
  background-color: slategrey;
}


.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: slategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
h1
{
  font-size: 54px;
  color: white;
}
.body-style
{
  background: linear-gradient(to bottom, #ffffff 0%, #38c25d 92%);
}